[defaults]
gathering = explicit
inventory = hosts
host_key_checking = False
retry_files_enabled = False
deprecation_warnings = False
filter_plugins = plugins/filter/
roles_path = roles/

[persistent_connection]
command_timeout = 60
